@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  color: #777; }

.cover-text {
  position: absolute;
  top: 95px;
  left: 30px;
  font-size: 8rem;
  /* font-family: "Ubuntu Mono", sans-serif; */
  /* font-family: "Shadows Into Light", cursive; */
  font-family: "Caveat", cursive;
  color: white;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.sub-text {
  position: absolute;
  top: 200px;
  left: 40px;
  font-size: 2.8rem;
  /* font-family: "Ubuntu Mono", sans-serif; */
  font-family: "Dancing Script", cursive;
  color: white;
  font-weight: lighter; }

.heading-secondary {
  font-size: 3.5rem;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  padding-top: 1rem;
  color: #777; }

.paragraph {
  font-size: 1.6rem;
  font-family: "lato", sans-serif;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph h4 {
    font-size: 2.8rem;
    font-weight: 300;
    font-family: "lato", sans-serif; }

.p-2 {
  padding-top: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8), url("../images/bgimage-1.jpeg"));
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: 10rem;
  text-align: center; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 25rem;
  margin-top: -10rem; }

.section-stories {
  padding-top: 15rem;
  padding-bottom: 20rem;
  background-color: #f7f7f7; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/bgimage-1.jpeg);
  background-color: orangered;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-left: 15rem;
  margin-right: 15rem;
  background-size: 100%;
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }

button {
  padding: 9px 15px;
  background-color: #7ed56f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

button :hover {
  background-color: rgba(255, 185, 0, 0.8); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  font-size: 1rem; }

.btn:hover {
  transform: translateY(-3px); }

.btn-white {
  color: #777; }

.cover-btn {
  position: absolute;
  top: 300px;
  left: 0px;
  font-size: 1rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active, .btn-text:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150 rem;
  position: relative;
  height: 50rem; }
  .card__side {
    color: #777;
    height: 50rem;
    font-size: 2rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.card-picture-1 {
  background-image: url("../images/malai-kofta-2.jpg");
  background-size: cover;
  height: 23rem; }

.card-picture-2 {
  background-image: url("../images/rajasthanispecialthali.jpg");
  background-size: cover;
  height: 23rem; }

.card-picture-3 {
  background-image: url("../images/butterchicken.jpg");
  background-position: bottom;
  background-size: cover;
  height: 23rem; }

.card-picture-4 {
  background-image: url("../images/Dum-Aloo.jpg");
  background-position: bottom;
  background-position: center;
  background-size: cover;
  height: 23rem; }

.card-picture-5 {
  background-image: url("../images/kaju-curry.jpg");
  background-position: bottom;
  background-position: center;
  background-size: cover;
  height: 23rem; }

.card-heading-1 {
  color: #fff;
  text-align: center;
  padding: 10px 0 10px 0;
  background-image: linear-gradient(#ffb900, #ff7730);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.8rem;
  font-weight: 300;
  font-family: "lato", sans-serif;
  letter-spacing: 0.2rem; }

.card-heading-2 {
  color: #fff;
  text-align: center;
  padding: 10px 0 10px 0;
  background-image: linear-gradient(#7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.8rem;
  font-weight: 300;
  font-family: "lato", sans-serif;
  letter-spacing: 0.2rem; }

.card-heading-3 {
  color: #fff;
  text-align: center;
  padding: 10px 0 10px 0;
  background-image: linear-gradient(#2998ff, #5643fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.8rem;
  font-weight: 300;
  font-family: "lato", sans-serif;
  letter-spacing: 0.2rem; }

.card-details {
  color: #777;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 1.6rem;
  font-family: "lato", sans-serif; }

.card-price {
  color: #777;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 2.8rem;
  font-family: "lato", sans-serif; }

.qwertyu {
  transform: translateX(12rem); }

.qwertyui {
  transform: translateX(14rem); }

.card-translate {
  transform: translateX(16rem); }

.navigation-bar {
  position: fixed;
  background-color: #24252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1% 10%;
  z-index: 4; }

.logo {
  cursor: pointer;
  margin-right: auto;
  position: absolute;
  transform: translateY(-2.7rem);
  left: 0; }

.nav {
  list-style: none; }
  .nav li {
    display: inline-block;
    padding: 0px 20px; }
    .nav li a {
      transition: all 0.3s ease 0s; }
      .nav li a:hover {
        color: #55c57a; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  margin-bottom: 20rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.features-heading {
  font-family: "lato", sans-serif; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__img {
    width: 100%;
    transition: all 0.4s; }
  .story__img-1 {
    width: 100; }
  .story__img-2 {
    height: 100%; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

.qwerty {
  padding-top: 1rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  transform: translateY(-7rem);
  margin-left: 5rem;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 37%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-family: "lato", sans-serif;
  color: #777;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 7rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown ~ .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.book-heading {
  margin-left: 5rem;
  padding-top: 1rem;
  margin-bottom: 0; }

.book-review {
  padding-bottom: 10rem; }

.book-review-label {
  transform: translateY(-7rem); }

.form-button {
  transform: translateY(-8rem) translateX(5rem); }

.header {
  height: 100vh;
  background-color: #44484b;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: url("../images/—Pngtree—dark wood grain background material_1135073.jpg"); }

.cover {
  transform: translateY(10rem); }

/* .logo-box {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo {
  height: 70px;
} */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 40rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.2rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 35rem;
    height: auto; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    margin-left: 1rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    transition: all 0.2s;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3); }
  .footer__naviagtion {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
  .footer__copyright {
    color: #f7f7f7;
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 80%;
    float: righ3; }

.fa-2x {
  padding-left: 2rem; }

.footer__left {
  border-top: 1px solid #999;
  padding-top: 2.5rem; }

html {
  scroll-behavior: smooth; }

.cover-image {
  width: 300px;
  position: absolute;
  right: 170px;
  top: 100px;
  border: solid;
  border-color: white;
  border-width: 5px;
  transform: rotate(-12deg);
  z-index: 1; }

.cover-image-2 {
  width: 350px;
  position: absolute;
  right: 150px;
  top: 350px;
  border: solid;
  border-color: white;
  border-width: 5px;
  transform: rotate(12deg);
  z-index: 2; }

.cover-image-3 {
  width: 220px;
  position: absolute;
  right: 500px;
  top: 250px;
  border: solid;
  border-color: white;
  border-width: 5px;
  transform: rotate(258deg);
  z-index: 1; }

.cover-button {
  position: absolute;
  top: 300px;
  left: 50px; }

li,
a {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

.boxContainer {
  margin: auto;
  margin-bottom: 50px;
  width: 300px;
  height: 42px;
  border: 4px solid #55c57a;
  padding: 0px 10px;
  border-radius: 50px; }

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: "lato", sans-serif;
  color: #424242;
  font-weight: 500; }

.search:focus {
  outline: none; }

.material-icons {
  font-size: 26;
  color: #55c57a; }
