button {
  padding: 9px 15px;
  background-color: rgba($color-primary-light, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button :hover {
  background-color: rgba(#ffb900, 0.8);
}

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    font-size: 1rem;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &-white {
    color: #777;
  }
}

.cover-btn {
  position: absolute;
  top: 300px;
  left: 0px;
  font-size: 1rem;
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
  }

  &:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
    transform: translateY(0);
  }
}
