.navigation-bar {
  position: fixed;
  background-color: #24252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1% 10%;
  z-index: 4;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  position: absolute;
  transform: translateY(-2.7rem);
  left: 0;
}

.nav {
  list-style: none;

  li {
    display: inline-block;
    padding: 0px 20px;

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
