.body {
  font-family: "lato", sans-serif;
  // font-family: "Nova Flat", cursive;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  padding: 3rem;
  color: #777;
}

.cover-text {
  position: absolute;
  top: 95px;
  left: 30px;
  font-size: 8rem;
  /* font-family: "Ubuntu Mono", sans-serif; */
  /* font-family: "Shadows Into Light", cursive; */
  font-family: "Caveat", cursive;
  color: white;
  text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
}

.sub-text {
  position: absolute;
  top: 200px;
  left: 40px;
  font-size: 2.8rem;
  /* font-family: "Ubuntu Mono", sans-serif; */
  font-family: "Dancing Script", cursive;
  color: white;
  font-weight: lighter;
}

.heading-secondary {
  font-size: 3.5rem;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text; //clips background image only where text is visible
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  padding-top: 1rem;
  color: #777;
}

.paragraph {
  font-size: 1.6rem;
  font-family: "lato", sans-serif;
  color: #777;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 2.8rem;
    font-weight: 300;
    font-family: "lato", sans-serif;
  }
}

.p-2 {
  padding-top: 2rem;
}
